@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
p,div,button,option{
	font-family: 'Electrolize', sans-serif;
	font-size: 50px;
}
select{
	font-family: 'Electrolize', sans-serif;
	font-size: 50px;
	border-radius: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-position-y: 5px;
	border: 1px solid #dfdfdf;
}

.text{
	color:#5900ff;
	-webkit-text-stroke: #000000 0.5px;
	font-size: 30px;
}

.matter{
	float: left;
	border-radius: 10px; 
	width: 500px; 
	height: 500px;
	margin-top: 50px;
	margin-left: 50px;
	background-color: #09E5C3;
	text-decoration: none;
	display: flex;
}

.ses{
	height: 200px;
	width: 500px;
	position: relative;
	top: 120px;
	right: 375px;
	background: -webkit-linear-gradient(-86deg, #f85b5b 5%, #7ab9ec 53%, #e5099c 91%);
	-webkit-background-clip: text;
	-webkit-text-stroke: 6px transparent;
}
.ses:hover,.title:hover {
	cursor: pointer;
}

.title{
	height: 14%;
	width: 90%;
	text-shadow: 0 0 1em #000000, 0 0 0.2em #2b2b2b;
	color: azure;
	background: -webkit-linear-gradient(-86deg, #EEF85B 5%, #7AEC8D 53%, #09E5C3 91%);
	-webkit-background-clip: text;
	-webkit-text-stroke: 6px transparent;
}

.next,.previous{
	float: left;
	background-color: #00000018;
	border-color: red;
	border-radius: 10px;
	font-size: 50px;
	margin-top: 250px;
	margin-left: 30px;
}

.next:hover,.previous:hover{
	background-color: #ffffff;
	border-color: aqua;
	cursor: pointer;
}
