@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
p,div,button{
	font-family: 'Electrolize', sans-serif;
}

p{
	color:#FF00FF;
	font-size: 50px;
}

.title{
	float: left;
	font-family: 'Electrolize', sans-serif;
	font-size: 50px;
	margin-top: 50px;
	margin-left: 100px;
}

.next{
	background-color: #00000018;
	border-color: rgb(255, 0, 0);
	border-radius: 10px;
	font-size: 50px;
}

.next:hover{
	background-color: #ffffff;
	border-color: aqua;
	cursor: pointer;
}
